body{
    margin:0;
    padding: 0;
}
.btn{
    text-align: center
}
h2{
    text-align: center;
    color:purple;
}
.container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#font{
    font-size: 20px;
}